# Archivos de usuario
*.suo
*.user
*.userosscache
*.sln.docstates
**/*.db
**/appsetings.json
**/Migrations

# Archivos generados por Mono
mono_crash.*

# Resultados de compilación
bin/
obj/
out/
**/bin/
**/obj/
**/out/
.vs

# Archivos de registro
*.log
/EventService/appsettings.Development.json
/EventService/eventservice.db-shm
/EventService/eventservice.db-wal
